img {
  width: 150px;
  height: 40px;
}
.NavMain {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  background-color: black;
  position: fixed;
  top: 0;
  align-items: center;
  color: white;
  border-bottom: 0.1px solid rgb(106, 106, 106);
}

.NavContainer {
  width: 95%;
  margin: 0 auto;
  background: white;
}
nav button {
  height: 30px;
}
.Admin-Dashboard {
  color: white;
}
.Sign {
  color: white;
}
.Logout {
  width: 20px;
  height: 20px;
}
